{% extends 'rosslote/base.html' %}
{% load static %}

{% block body-classes %}cv-page{% endblock %}

{% block content %}

<div class="cover text-left">
    <h1 class="page-title">Resumé</h1>
    <h3 class="pull-right">Address</h3>
    <h3>Personal Details</h3>
    <div class="row">
        <div class="col-sm-6">
            <p>
                Ross Adam Lote<br>
                <abbr title="Phone">P</abbr>: <a href="tel:07838599260">07838 599260</a><br>
                <abbr title="Email">E</abbr>: <a href="mailto:rosslote@gmail.com">rosslote@gmail.com</a><br>
                <abbr title="Date of Birth">DOB</abbr>: February 3rd 1987
            </p>
        </div>
        <div class="col-sm-6 text-right">
            <address>
                Flat 3<br>
                1 Restalrig Crescent<br>
                Edinburgh<br>
                EH7 6EU
            </address>
        </div>
    </div>
    <hr>
    <h3>Relevant Employment History</h3>
    <div class="row">
        <div class="col-sm-6 border-right">
            <h4>Effortless Sites</h4>
            <dl class="dl-horizontal">
                <dt>Contract</dt>
                <dd>Permanent</dd>
                <dt>Duration</dt>
                <dd>Feb 2013 - June 2014</dd>
                <dt>Website</dt>
                <dd><a target="_blank" href="http://effortlesssites.com">effortlesssites.com</a></dd>
                <dt>Role</dt>
                <dd>Lead Web Developer</dd>
                <dt>Description of Duties</dt>
                <dd>Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</dd>
                <dt>Technologies Used</dt>
                <dd>
                    <ul>
                        <li>Joomla!</li>
                        <li>Wordpress</li>
                        <li>MySQL</li>
                        <li>PHP</li>
                        <li>HTML(5)/CSS(3)</li>
                        <li>Javascript/jQuery</li>
                        <li>Bootstrap</li>
                    </ul>
                </dd>
                <dt>Contact Details</dt>
                <dd>
                    <a target="_blank" href="http://uk.linkedin.com/in/iainfaulds">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="text-white fa fa-linkedin fa-stack-1x"></i>
                        </span>
                        Iain Faulds
                    </a>
                    <br>
                    <a href="mailto:iain.faulds@effortlesssites.com">
                        <span class="fa-stack fa-lg">
                            <i class="text-grey fa fa-square fa-stack-2x"></i>
                            <i class="text-white fa fa-envelope fa-stack-1x"></i>
                        </span>
                        iain.faulds@effortlesssites.com
                    </a>
                    <br>
                    <a href="tel:07701085655">
                        <span class="fa-stack fa-lg">
                            <i class="text-grey fa fa-square fa-stack-2x"></i>
                            <i class="text-white fa fa-phone fa-stack-1x"></i>
                        </span>
                        07701 085655
                    </a>
                </dd>
                <dt></dt>
                <dd></dd>
                <dt></dt>
                <dd></dd>
                
            </dl>
        </div>
        <div class="col-sm-6">
            <h4>Flavourly</h4>
            <dl class="dl-horizontal">
                <dt>Contract</dt>
                <dd>Temporary/Freelance</dd>
                <dt>Duration</dt>
                <dd>Sept 2013 - Present</dd>
                <dt>Website</dt>
                <dd><a target="_blank" href="https://flavourly.com">flavourly.com</a></dd>
                <dt>Role</dt>
                <dd>Web Developer</dd>
                <dt>Description of Duties</dt>
                <dd>Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</dd>
                <dt>Technologies Used</dt>
                <dd>
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>PostgreSQL</li>
                        <li>Javascript/jQuery</li>
                        <li>Backbone/Marionette</li>
                        <li>Handlebars</li>
                        <li>HTML(5)/CSS(3)</li>
                    </ul>
                </dd>
                <dt>Contact Details</dt>
                <dd>
                    <a target="_blank" href="http://uk.linkedin.com/in/ryanororke">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="text-white fa fa-linkedin fa-stack-1x"></i>
                        </span>
                        Ryan O'Rorke
                    </a>
                    <br>
                    <a href="mailto:ryan@flavourly.com">
                        <span class="fa-stack fa-lg">
                            <i class="text-grey fa fa-square fa-stack-2x"></i>
                            <i class="text-white fa fa-envelope fa-stack-1x"></i>
                        </span>
                        ryan@flavourly.com
                    </a>
                    <br>
                    <a href="tel:07855130197">
                        <span class="fa-stack fa-lg">
                            <i class="text-grey fa fa-square fa-stack-2x"></i>
                            <i class="text-white fa fa-phone fa-stack-1x"></i>
                        </span>
                        07855 130197
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <hr>
    <h3>Other Employment History</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>Place</th>
                        <th>Role</th>
                        <th>Date From</th>
                        <th>Date To</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>Albanach Bar & Resturant</td>
                        <td>Chef</td>
                        <td>Nov 2012</td>
                        <td>Feb 2013</td>
                    </tr>
                    <tr>
                        <td>Glen Hotel</td>
                        <td>Chef, Barman, Receptionist</td>
                        <td>Jun 2012</td>
                        <td>Nov 2012</td>
                    </tr>
                    <tr>
                        <td>Grasshopper Hotel</td>
                        <td>Chef, Night Porter</td>
                        <td>Nov 2011</td>
                        <td>Apr 2012</td>
                    </tr>
                    <tr>
                        <td>Glen Hotel</td>
                        <td>Chef</td>
                        <td>Aug 2009</td>
                        <td>Sep 2011</td>
                    </tr>
                    <tr>
                        <td>Shell Service Station</td>
                        <td>Night Cashier</td>
                        <td>Jan 2009</td>
                        <td>Jul 2009</td>
                    </tr>
                    <tr>
                        <td>Kalgoorlie Gold Mines</td>
                        <td>HGV Driver</td>
                        <td>Jun 2008</td>
                        <td>Oct 2008</td>
                    </tr>
                    <tr>
                        <td>Wirradale Farm</td>
                        <td>Cattle musterer, Ranch hand</td>
                        <td>Feb 2008</td>
                        <td>May 2008</td>
                    </tr>
                    <tr>
                        <td>Creative Café</td>
                        <td>Chef</td>
                        <td>Oct 2007</td>
                        <td>Feb 2008</td>
                    </tr>
                    <tr>
                        <td>British Army</td>
                        <td>Sapper / Driver</td>
                        <td>Jul 2004</td>
                        <td>Aug 2007</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <h3>Education</h3>
    <div class="row">
        <div class="">
            
        </div>
    </div>
</div>

{% endblock %}